USE [master]
GO
/****** Object:  Database [AQUARIO]    Script Date: 17/11/2022 08:13:56 ******/
CREATE DATABASE [AQUARIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AQUARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AQUARIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AQUARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AQUARIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AQUARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AQUARIO]
GO
/****** Object:  User [alumno]    Script Date: 17/11/2022 08:13:56 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Exhibiciones]    Script Date: 17/11/2022 08:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibiciones](
	[idExhibicion] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinalizacion] [date] NULL,
	[ValorPersona] [int] NOT NULL,
	[Descripcion] [varchar](700) NOT NULL,
	[idTematica] [int] NOT NULL,
	[img] [varchar](200) NULL,
 CONSTRAINT [PK_Exhibiciones] PRIMARY KEY CLUSTERED 
(
	[idExhibicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 17/11/2022 08:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[idReserva] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[DNI] [varbinary](max) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[idExhibicion] [int] NOT NULL,
	[PrecioFInal] [int] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[idReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tematicas]    Script Date: 17/11/2022 08:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tematicas](
	[idTematica] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](50) NOT NULL,
	[Zona] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Fauna] PRIMARY KEY CLUSTERED 
(
	[idTematica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exhibiciones] ON 

INSERT [dbo].[Exhibiciones] ([idExhibicion], [Titulo], [FechaInicio], [FechaFinalizacion], [ValorPersona], [Descripcion], [idTematica], [img]) VALUES (2, N'Maravillas Tropicales', CAST(N'2022-11-24' AS Date), CAST(N'2022-12-10' AS Date), 150, N'Adentrese en el mundo de los arrecifes de coral.', 1, N'1.png')
INSERT [dbo].[Exhibiciones] ([idExhibicion], [Titulo], [FechaInicio], [FechaFinalizacion], [ValorPersona], [Descripcion], [idTematica], [img]) VALUES (4, N'Paseo por el Pacifico', CAST(N'2022-09-12' AS Date), CAST(N'2022-12-20' AS Date), 150, N'Un viaje magico por nuestros oceanos.', 2, N'2.png')
INSERT [dbo].[Exhibiciones] ([idExhibicion], [Titulo], [FechaInicio], [FechaFinalizacion], [ValorPersona], [Descripcion], [idTematica], [img]) VALUES (8, N'Visitando el Artico', CAST(N'2022-11-11' AS Date), CAST(N'2022-12-20' AS Date), 200, N'Descubra lo que se esconde bajo el iceberg.', 4, N'3.png')
SET IDENTITY_INSERT [dbo].[Exhibiciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Tematicas] ON 

INSERT [dbo].[Tematicas] ([idTematica], [Categoria], [Zona]) VALUES (1, N'Peces Tropicales', N'50m de Profundidad')
INSERT [dbo].[Tematicas] ([idTematica], [Categoria], [Zona]) VALUES (2, N'Pacifico Occidental', N'50-100m de Profundidad')
INSERT [dbo].[Tematicas] ([idTematica], [Categoria], [Zona]) VALUES (4, N'Mamiferos Articos', N'0-200m de Profundidad')
SET IDENTITY_INSERT [dbo].[Tematicas] OFF
GO
ALTER TABLE [dbo].[Exhibiciones]  WITH CHECK ADD  CONSTRAINT [FK_Exhibiciones_Tematicas] FOREIGN KEY([idTematica])
REFERENCES [dbo].[Tematicas] ([idTematica])
GO
ALTER TABLE [dbo].[Exhibiciones] CHECK CONSTRAINT [FK_Exhibiciones_Tematicas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Exhibiciones] FOREIGN KEY([idExhibicion])
REFERENCES [dbo].[Exhibiciones] ([idExhibicion])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Exhibiciones]
GO
USE [master]
GO
