@{
    ViewData["Title"] = "Buscar Reserva";
}

<div class="container-fluid headerform">
    <h2>Informacion Reserva</h2>
</div>

<div class="container-fluid">

  <div class="container-md form">
    <div class="form-floating mb-3">
      <label for="formFile" class="form-label">Ingrese su email para buscar su entrada:</label>
      <input type="email" class="form-control" id="emailBuscar" placeholder="Ingrese su email" name="Email">
    </div>
        <div class="container-fluid row align-center">
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <button class="btn-hover color-3 confirmar captionform" type="button" data-toggle="modal" type="button"
          data-target="#ModalRes" onclick="BuscarReserva()">Buscar</button>
      </div>
    </div>


    <div class="modal fade" id="ModalRes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="ModalBody">

                    </div>
                </div>
                <div class="modal-footer">
                    <input class="d-none" id="PrecioFinal" name="PrecioFinal">
                    <input class="d-none" id="idExhibicion" name="idExhibicion">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Entendido</button>
                </div>
            </div>
        </div>
    </div>



</div>