@{
    ViewData["Title"] = "Comprar Tickets";
}

<div class="container-fluid headerform">
    <h2>Compra de Entradas</h2>
    <p>Porfavor complete los siguientes campos</p>
</div>

  <form method="post" action="">


  <div class="container-md form">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Ingrese su email">
        <label class ="captionform" for="floatingInput">Email</label>
        </div>
      <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Ingrese su nombre completo">
      <label class ="captionform" for="floatingPassword">Nombre y apellido</label>
        </div>
      <div class="form-floating mb-3">
      <input type="tel" class="form-control" id="floatingInput" placeholder="Ingrese su DNI">
      <label class ="captionform" for="floatingPassword">DNI</label>
        </div>
      <div class="form-floating mb-3">
        <input type="number" max="5" min="1" step="1" class="form-control" id="floatingInput" placeholder="Ingrese su numero de entradas">
         <label class ="captionform" for="floatingPassword">Numero de Entradas</label>
        </div>
  
          <div class="form-floating mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            @{
              int num= 1;
              foreach(Exhibicion item in ViewBag.ListaExhibiciones)
              {
                num++;
                <option  value="@num" >@item.Titulo</option>
              }
           }
            </select>
            <label class ="captionform" for="floatingSelect">Exhibicion a Visitar</label>
          </div>

    <button class="btn-hover color-3 confirmar captionform" type="sumbit" value="Confirmar">Confirmar</button>
  </div>
  </form>