@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 titulo">Bienvenidos a<br>AQUARIUM</h1>
    <p class="segdotitulo">Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna.</p>
                            <li class="nav-item">
                            <button class="btn-hover color-3"><a class="link-nav" asp-controller="Home" asp-action="Exhibiciones">Más información</a></button>
                        </li>
</div>
