@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center centrado">
    <h1 class="display-4 titulo">Bienvenidos a<br>AQUARIUM</h1>
    <p class="segdotitulo">Aquarium es una herramienta innovadora para la divulgación <br> científica que busca conscientizar sobre los distintos tipos de vida<br> que se encuentran localizadas en el fondo del mar.</p>
                            <li class="nav-item">
                            <button class="btn-hover color-3"><a class="link-nav" asp-controller="Home" asp-action="SobreNosotros">Más información</a></button>
                        </li>
</div>
