@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center privacy">

<h3>Sobre AQUARIUM </h3>

<p> Hecho Por Sofia Cacharo y Martina Guy en Noviembre 2022, AQUARIUM <br>es un proyecto de conscientización marina inigualable en su innovación. Le recomendamos <br>que nos visite para saber más sobre lo que este espacio puede ofrecer para usted y su grupo.</p>

<div class="row">
<div class="col-sm"><img class ="perfiles" src="/img/sanfrancisco.jpg"><h4>Localizado en San Francisco</h4></div>

<div class="col-sm"><img class ="perfiles" src="/img/niños.png"><h4>Perfecto para niños</h4></div>

<div class="col-sm"><img class ="perfiles" src="/img/biologos.jpg"><h4>Research en sitio</h4></div>
</div>

</div>
