html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.titulo{
  color:white;
}

.segdotitulo{
  color:#9E9E9E;
}

html {
  position: relative;
  min-height: 100%;
}

.linkmasinfo{
text-decoration:solid;

color: white;
font-weight: bold;
}

body{
  background-image: url(../img/fondo.png);
  background-size:cover;
}

a{
  color: white !important;
}

.privacy{
  color: white;
}

.headerform{
  color: white;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.form-floating{
  margin-left: 5rem;
  margin-right: 5rem;
  color: rgb(20, 20, 56)!important;
}


.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 10rem;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin: 20px;
  align-items: center !important;
  height: 2.5rem;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #000000, #141414, #070707fd, #000000);
  box-shadow: 0 4px 15px 0 rgba(60, 58, 61, 0);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.bg-blue{
background-color: #180F53;
}

a {
  color: white !important;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.header{
  color: white;
  margin-left: 2rem;
  margin-top: 5rem;
  text-align: center;

}
.slideshow{
  margin-top: 5rem;
 margin-bottom: 5rem;
}