html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.titulo{
  color:white;
}

.segdotitulo{
  color:#9E9E9E;
}

html {
  position: relative;
  min-height: 100%;
}

.linkmasinfo{
text-decoration:solid;
text-decoration: underline;
color:white;
}

body{
  background-image: url(../img/fondo.png);
  background-size:cover;
}
